@import "tailwindcss";

:root {
  --colorTitle: rgba(219, 68, 68, 1);
  --colorBorder: #acacf4;
  --colorText: #313492;
  --backgroundImage: rgba(245, 245, 245, 0);
  --backgroundPage: #ffffff;
  --backgroundFooter: rgba(0, 0, 0, 1);
  --boxShadow: #acacf4;
  --backgroundAll: #ffffff;
  --colorTextHover: #ffffff;
  --imgColor: transparent;
  --colorTextP: #504c89;
  --backgroundPage1: #f1f1f180;
  --shadowHeader: #2525b1;
  --colorHeader: #ffffff;
  --backgroundHeader: #131d96;
}

.dark {
  --boxShadow: #acacf4;
  --colorTitle: rgba(219, 68, 68, 1);
  --colorBorder: #acacf4;
  --colorText: rgba(255, 255, 255, 0.87);
  --backgroundImage: rgba(40, 40, 40, 0.596);
  --backgroundPage: rgba(20, 20, 20, 0.849);
  --backgroundFooter: rgba(24, 24, 24, 1);
  --backgroundAll: #272727;
  --imgColor: rgba(0, 0, 0, 0.767);
  --colorTextP: rgb(215 215 215 / 70%);
  --backgroundPage1: transparent;
  --colorTextHover: #ffffff;
  --shadowHeader: #05072b;
  --colorHeader: #ffffff;
  --backgroundHeader: #0a0f4e;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundPage);
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Cairo, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: var(--colorText);
  font-family: Cairo, sans-serif;
}

h4 {
  opacity: 0.7;
}

p {
  color: var(--colorTextP);
}

hr {
  border-color: var(--colorText);
}
.titleHeader {
  gap: 70px;
}
.titleHeader a {
  font-size: 16px;
  font-weight: bold !important;
  color: #ffffff;
}

.HomeSection {
  background-image: linear-gradient(
      var(--backgroundImage),
      var(--backgroundImage)
    ),
    url(./Image/Untitled-1.png-2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
  box-shadow: 1px 2px 5px 1px var(--shadowHeader);
}

.HomeSectionEN {
  background-image: linear-gradient(
      var(--backgroundImage),
      var(--backgroundImage)
    ),
    url(./Image/Untitled-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
}

.demo-logo img {
  margin: 20px 15px 0px;
  width: 125px;
}

#moon {
  visibility: hidden;
  color: white;
}

.darkmodeicone {
  height: 30px;
  width: 30px;
  margin: 2px 8px;
  cursor: pointer;
}

.darkmodeicone img {
  position: absolute;
}

.Header {
  background-color: var(--backgroundHeader);
  height: 80px;
}

.textSection1 button {
  text-align: center !important;
  width: 165px;
  height: 35px;
  border-radius: 15px;
  border-color: transparent;
  background-image: linear-gradient(to right, #6a34a3, #2575fc);
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 25px 0px;
}

.textSection1 button:hover {
  background-image: linear-gradient(to right, #2575fc, #6a34a3);
}

.flag {
  margin-top: 2px;
  cursor: pointer;
}

.SectionTwo {
  max-width: 45%;
  margin: 150px auto 50px;

  display: flex;
  justify-content: center;
}

.SectionTwo h1 {
  letter-spacing: -1px;
  text-align: center;
}

.SectionFour {
  margin: 120px 0px;
}

.SectionOneContainer {
  background-color: var(--backgroundAll);
  padding: 5px;
  border-radius: 20px;
  transition: all 0.5s linear;
  min-height: 80px;
  font-size: 15px;
  letter-spacing: -0.5px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  margin: 25px 0px;
  border: 1px solid var(--colorBorder);
}

.SectionOneContainer:hover {
  transform: translate(-2px, 3px);
  background-color: #2530a6;
}

.SectionOneContainer:hover p {
  color: var(--colorTextHover) !important;
}

.SectionFourContainer {
  background-color: var(--backgroundAll);
  padding: 15px;
  border-radius: 20px;
  transition: all 0.5s linear;
  min-height: 190px;
  font-size: 16px;
  letter-spacing: -0.5px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  border: 1px solid var(--colorBorder);
}

.SectionFourContainer:hover {
  transform: translate(-2px, 3px);
  background-color: #2530a6;
}
.SectionFourContainer:hover p,
.SectionFourContainer:hover div {
  color: var(--colorTextHover) !important;
}

.SectionFive {
  margin: 200px 0px;
}

.SectionOne {
  margin-top: 150px;
}
.textSection1 h1,
.textSection1 p {
  color: #ffffff;
}
.textSection1 p {
  opacity: 0.8;
}

.SectionSix h4 {
  width: 70%;
  margin: 0px auto;
  text-align: center;
}

.SectionSeven {
  margin: 120px 0px;
}

.SectionSevenContaier1 {
  background-color: var(--backgroundAll);
  padding: 15px;
  border-radius: 20px;
  transition: all 0.5s linear;
  min-height: 80px;
  font-size: 15px;
  letter-spacing: -0.5px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  border: 1px solid var(--colorBorder);
}

.SectionSevenContaier1:hover {
  transform: translate(-2px, 3px);
  background-color: #2530a6;
}

.SectionSevenContaier1:hover div {
  color: var(--colorTextHover) !important;
}

.SectionSixContaier {
  background-color: var(--backgroundAll);
  padding: 15px;
  border-radius: 20px;
  transition: all 0.5s linear;
  min-height: 80px;
  font-size: 9px;
  letter-spacing: -0.5px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  border: 1px solid var(--colorBorder);
}
.SectionSixContaier:hover {
  transform: translate(-2px, 3px);
}

.SectionSevenContaier {
  background-color: var(--backgroundAll) !important;
  border-radius: 15px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  padding: 20px;
  border: 1px solid var(--colorBorder);
}

.SectionSevenContaier button {
  width: 100%;
  height: 35px;
  background-image: linear-gradient(to right, #6a34a3, #2575fc);
  transition: all 0.5s ease;
  margin: 25px 0px 0px;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
}

.SectionSevenContaier button:hover {
  background-image: linear-gradient(to right, #2575fc, #6a34a3);
}

.buttonSectionSix {
  width: 100%;
  height: 35px;
  background-image: linear-gradient(to right, #6a34a3, #2575fc);
  transition: all 0.5s ease;
  margin: 10px auto 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
}

.buttonSectionSix:hover {
  background-image: linear-gradient(to right, #2575fc, #6a34a3);
}

.SectionEightContainer {
  background-color: var(--backgroundAll);
  width: 40%;
  margin: 0px auto;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  border: 1px solid var(--colorBorder);
}

.SectionEight .Text {
  background-image: linear-gradient(to right, #6a34a378, #2575fca6);
  width: 40%;
  margin: 0px auto;
  padding: 10px;
  letter-spacing: -0.5px;
  font-size: 15px;
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  border: 1px solid var(--colorBorder);
}

.SectionEight .Text div {
  color: rgb(22, 20, 20) !important;
  min-height: 30px;
}

.SectionEightContainer form {
  margin: 0px auto;
}

.SectionEightContainer form input {
  font-size: 14px !important;
}

.SectionEightContainer form button {
  background-image: linear-gradient(to right, #6a34a378, #2575fca6);
  color: rgb(22, 20, 20) !important;
}

.SectionEightContainer form input::placeholder,
.SectionNineContainer .ant-select-selection-placeholder,
.SectionEightContainer .ant-select-selector .ant-select-selection-placeholder,
.SectionNineContainer .ant-select-selector .ant-select-selection-placeholder {
  color: var(--colorText) !important;
}

.SectionEightContainer form button:hover {
  background-image: linear-gradient(to right, #2575fca6, #6a34a378);
}

.SectionNine {
  margin: 120px 0px;
}

.SectionNine .SectionNineContainer {
  width: 50%;
  margin: 20px auto 0px;
  border-radius: 10px;
  direction: rtl !important;
}

.SectionNine .SectionNineContainer .ant-collapse {
  border-color: transparent;
  background-color: transparent;
}

.SectionNineContainer .ant-collapse-item {
  box-shadow: -1px 2px 7px -4px var(--boxShadow);
  background-color: var(--backgroundAll);
  margin: 20px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid var(--colorBorder);
}

.Footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 11px;
  border-top: 1px solid var(--colorBorder);
  padding: 20px 0px;
  background-image: url(../src//Image/footer-map.ffc07f6682a8f08660cd.webp);
  background-color: var(--backgroundHeader);
  box-shadow: 0px 0px 10px 2px var(--backgroundHeader);
}
.Footer a,
.Footer p,
.Footer h1 {
  color: white !important;
}

@media (max-width: 767px) {
  .iconSection {
    display: none;
  }

  .SectionNine .SectionNineContainer {
    width: 90%;
  }

  .textSection1 {
    text-align: center !important;
    width: 70%;
    margin: 40px auto 0px !important;
  }

  .textSection1 h1 {
    font-size: 25px !important;
  }

  .SectionButtonOne {
    justify-content: center;
  }

  .SectionTwo {
    max-width: 80%;
  }

  .swiper {
    width: 95%;
  }

  .mySwiper2 {
    background-color: var(--backgroundPage1) !important;
    width: 90%;
  }

  .SectionOne {
    margin-top: 170px;
  }

  .SectionOne p {
    margin-top: 40px;
  }
  .SectionOne button {
    margin-top: 80px;
  }

  .SectionEightContainer {
    width: 80%;
  }

  .SectionEight .Text {
    width: 80%;
  }
}
.Footer img {
  margin: 0px auto;
}
@media (max-width: 730px) {
  .Footer {
    flex-direction: column !important;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .iconSectionNine {
    width: 10% !important;
  }
  .anminationOne {
    margin: 0px -165px;
    width: 157%;
  }
  .SectionOneContainer {
    width: 700px;
  }

  .SectionNine .SectionNineContainer {
    width: 70%;
  }

  .SectionEightContainer {
    width: 60%;
  }

  .SectionEight .Text {
    width: 60%;
  }

  .swiper {
    width: 60%;
    height: 100px;
    background-color: var(--backgroundAll) !important;
    border-radius: 20px;
  }

  .SectionFourContainer {
    min-height: 100px;
  }

  .mySwiper2 {
    background-color: var(--backgroundPage1) !important;
  }

  .SectionOne {
    margin-top: 220px;
  }
  .SectionOne p {
    margin-top: 40px;
  }

  .textSection1 h1 {
    font-size: 35px;
    margin-top: 20px;
  }

  .textSection1 p {
    font-size: 20px;
    margin-top: 40px;
  }

  .textSection1 button {
    text-align: center !important;
    width: 170px;
    height: 37px;
    border-radius: 15px;
    border-color: transparent;
    background-image: linear-gradient(to right, #6a34a3, #2575fc);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 40px 0px;
  }
  .titleHeader {
    gap: 30px;
  }

  .textSection1 button:hover {
    background-image: linear-gradient(to right, #2575fc, #6a34a3);
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .SectionFourContainer {
    min-height: 100px;
  }
}

@media (min-width: 1301px) {
  .SectionFourContainer {
    min-height: 100px;
  }
  .SectionFourContainer p {
    margin-top: -2px;
  }

  .anminationOne {
    margin: 0px -76px;
    width: 124%;
  }
  .SectionOne {
    margin-top: 200px;
  }

  .SectionOne p {
    margin-top: 40px;
  }

  .textSection1 h1 {
    font-size: 42px;
    margin-top: 20px;
  }

  .textSection1 p {
    font-size: 25px;
    margin-top: 40px;
  }

  .textSection1 button {
    text-align: center !important;
    width: 185px;
    height: 40px;
    border-radius: 15px;
    border-color: transparent;
    background-image: linear-gradient(to right, #6a34a3, #2575fc);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 60px 0px;
  }

  .textSection1 button:hover {
    background-image: linear-gradient(to right, #2575fc, #6a34a3);
  }
}

.no-wrap-row {
  display: flex !important;
  flex-wrap: nowrap !important;
}

.no-wrap-row .ant-col {
  flex: 0 0 auto;
}
